body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #000430; 
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#home, #form, #buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

button {
    margin: 10px;
    padding: 12px 24px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #01346b;
    color: rgb(212, 201, 201);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

button:focus {
    outline: none;
}

#videoContainer {
    margin-top: 20px;
    width: 80%;
    max-width: 800px;
}

video {
    width: 100%;
    border: 2px solid #ddd;
    border-radius: 10px;
}

#thankYou {
    margin-top: 20px;
}

h2 {
    color: #333;
}


